 {
  margin: 0;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
 }

 body {
 	text-align: center;
 	padding-top: 160px;
 	background-image: url(https://i.ibb.co/D5R4pyX/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    font-family: 'Inter',sans-serif;
 }

 h3{
 	font-size: 16px;
 	line-height: 19px;
 	color: #ffffff;
 }

 p{
   
 }

 h3 span{
 	color: #FFC700; 	
 }

 h1{
 	color: #FFC700;
 	font-weight: 400;
 	font-size: 64px;
    line-height: 80px;
 }
 p{
 	font-size: 20px;
 	line-height: 24px;
 	margin-bottom: 72px;
 }

 a{
 	padding: 12px 32px;
 	font-weight: 700;
 	font-size: 20px;
 	line-height: 24px;
 	color: white;
 	opacity:5.0;
 }

 a:hover,
 .btn-primary {
 	color: black;
 	background-color: #FFC700;
 	text-decoration: none;
 }